<html>
    <body>
        <table>
            <thead>
                <tbody>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        Senha
                    </td>
                </tr>
                <%= console.log('dentro da tabela no html :) '); %>
                <%= console.log(lista.lenght); %>
                <%for(let user of lista){%>
                    <tr>
                        <td><%= user.usuario %></td>
                        <td><%= user.senha%></td>
                    </tr>
                <%}%>
        </tbody>
            </thead>
        </table>
        <%= console.log(lista); %>
    </body>
</html>